.footer_container {
	width: 100%;
	height: auto;
	padding: 20px 0px;
	position: absolute;
	bottom: 0;
}

.footer_container p {
	color: var(--gray-1);
	text-align: center;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
